* {
    /* outline: dashed; */
    border: 1px solid black !important;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}


.inline-p{
display: inline-block;

}

#empty-div {
width: 100px;
height: 100px;
background-color: blue;

}

#para-div {
width: 90%;
height: 90%;
background-color: antiquewhite;
}

#overflow-box {
max-height: 100px;
overflow: scroll;
}

#footer-box p{

    padding: 20px;
}
body{
margin: 0 auto;
width: 1000px;
background-color: rgb(219, 225, 248);
margin-top: 25px;
margin-bottom: 25px;
}

main{ background-color: floralwhite;}