/* * {
outline: dotted;
} */

body {
    margin: 0 auto;
    width: 1000px;
    background-color: rgba(169, 169, 169, 0.301);
 }

ul li {
    display: inline;
    padding: 10px;
    background-color: blanchedalmond;
    border-radius: 10px;
}

h1 {
    background-color: bisque;
    color: coral;
}

nav {
    background-color: cornsilk;
    height: 150px;
}

#something-else {
 border: 5px solid #00FF00
}




.more-content {
    color: white;
background-color: #0000FF;
}


section p.more-content {
    background-color: red;
}